body {
  margin: 0;
  padding: 0;
  background-color: #13163e !important;
}

.container-img {
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/img/rocket.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.container-img p.size {
  font-size: 30px !important;
}
.container-img span {
  color: white;
}

.container-astro {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.img-astro {
  width: 400px;
  height: 400px;
  perspective: 400px;
  perspective-origin: bottom;
}
.img-astro .foto {
  width: 50px;
  transition: 1s;
  transform-origin: center;
  animation-name: astronauta, mov;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear, linear, ease-in;
  animation-direction: alternate;
  position: relative;
}
@keyframes hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
@keyframes astronauta {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes mov {
  0% {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  25% {
    left: 300px;
    right: 0;
    top: -200px;
    bottom: 0;
  }
  50% {
    left: 300px;
    right: 300px;
    top: 500px;
    bottom: 0px;
  }
  75% {
    left: 0px;
    right: 300px;
    top: 100px;
    bottom: 0;
  }
  100% {
    left: 600px;
    top: 0px;
    right: 0px;
    bottom: 400px;
  }
}
.img-astro .foto:hover {
  transition: 1s;
  width: 150px;
}