<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../src/css/404.css")
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
        title 404 | notFound
    body.body
    .row
      .container-img.d-flex.justify-content-center.align-items-center.flex-column
        h1.text-white.text-center Oops! 
        p.text-info.text-center.size (404 page not found)
        p.text-info.text-center.size Please Click On the <span>astronauta</span> to return to home page 
    .container-astro.position-absolute.d-flex.justify-content-center.align-items-center.align-self-center.m-0
      .img-astro
          a(href="../index.html")
            img.foto(id='astro')(src="../assets/img/astronauta.png", alt="")
    script(src="../src/js/404.js")


         
